{{!< default}}

<div class="content-area">
    <main class="site-main">
        <article class="single {{post_class}}">
            <header class="single-header">
                <h1 class="single-title">{{statusCode}}</h1>
                <h2>{{message}}</h2>
                <a class="button" href="{{@site.url}}">{{t "Go to home page"}}</a>
            </header>
        </article>
    </main>
</div>